.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore
.idea/
.vscode/

db.sqlite3
db.sqlite3-journal

.env
.env.sample

*.log
celerybeat-schedule*
celerybeat.pid

.coverage
htmlcov/
.pytest_cache/

README.md